*{
    margin: 0;
}
body{
    font-size: 15px;
    background-color: hsl(233, 47%, 7%);
}
.wrapper{
    width: 1200px;
    margin: 0 auto;
    padding: 50px 0;
}
.card{
    width: 100%;
    display: flex;
    background-color: hsl(244, 38%, 16%);
    border-radius: 0.5em;
}
.card > section{
    padding: 5em 7em 5em 5em;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card .image{
    min-width: 50%;
    max-width: 50%;
    border-radius: 0 0.5em 0.5em 0;
    background-image: linear-gradient(hsla(277, 40%, 40%, 0.7), hsla(277, 40%, 40%, 0.7)),
    url('images/image-header-desktop.jpg');
    background-size: cover;
    filter: contrast(150%);
}
.card ul{
    padding: 0;
    margin-top: 5em;
    display: flex;
    list-style-type: none;
    justify-content: flex-start;
}
.card ul > li:not(:last-child){
    margin-right: 5em;
}
.card li{
    text-align: left;
}
.card h1, .card h2{
    color: white;
    font-family: 'Inter', sans-serif;
}
.card h1{
    font-size: 2.5em;
    margin-bottom: 0.8em;
}
.card span{
    color: hsl(277, 64%, 61%);
}
.main p{
    color: hsla(0, 0%, 100%, 0.75);
    font-family: 'Inter', sans-serif;
    font-size: 1em;
    padding-right: 4em;
    line-height: 1.8em;
}
.stats p{
    text-transform: uppercase;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 0.8em;
    color: hsla(0, 0%, 100%, 0.6);
}
.stats h2{
    margin-bottom: 0.3em;
    font-size: 1.8em;
}
@media screen and (max-width: 1240px) {
    .wrapper{
        width: 80%;
    }
    .card{
        flex-direction: column;
        align-items: center;
    }
    .card > section{
        width: 90%;
        padding: 0;
        margin: 4em auto;
        text-align: center;

    }
    .card .image{
        order: -1;
        min-width: 100%;
        height: 60vh;
        border-radius: 0.5em 0.5em 0 0;
    }
    .card ul > li:not(:last-child){
        margin: 0;
    }
    .card ul{
        justify-content: space-between;
    }
    .card .main > p{
        padding: 0 1em;
    }
}

@media screen and (max-width: 660px) {
    .wrapper{
        width: 90%;
    }
    .card ul{
        flex-direction: column;
        align-items: center;
        margin-top: 2em;
    }
    .card ul > li:not(:last-child){
        margin: 1em 0;
    }
    .card li{
        text-align: center;
        margin: 1em 0 0 0;
    }
}